body {
    background-color: #203030;
    color: #f0f0f0;
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 0;
}

#box {
    margin: 0 auto;
}

#menu {
    float: left;
    margin-top: 30vh;
    margin-left: 10vw;
    position: absolute;
}

#game {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 50%;
}

canvas {
    border-radius: 10px;
    border: #202020 1px solid;
}
